# [Core & Vision]
numpy==1.26.4
opencv-python<4.11.0
mediapipe>=0.10.0
pandas

# [UI & Backend]
streamlit
python-dotenv

# [AI & Orchestration]
langchain
langchain-openai
langchain-community
langgraph

# [Database & RAG]
chromadb
langchain-chroma

# [Crawling]
beautifulsoup4
selenium
webdriver-manager